* {
    margin: 0;
    box-sizing: border-box;
    padding: 0; 
    background-color: #6d6875;
}

.App {
    width: 100%;
}

.Head {
    text-align: center;
    width: 100%;
    padding: 13px;
    height: 70px;
    background-color: white;
}

.txt {
    /* color: #E6E6FA; */
    color: white;
}

.ban_all {
    display: grid;
    align-content: center;
    justify-content: space-around;
    grid-template-columns: 40% 40%;
}

.ban_img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.a {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 150px;
    text-align: center;
}

.search {
    text-align: center;
    width: 28rem;
    margin: 50px auto;
}